   body {
    background-color: rgba(7, 26, 26, 0.954);
    padding-top: 30px;
      }
   
   #nav-bar {
     position: fixed;
     height:100%;
     width: 100%;
     left: 0;
     top: 0;
   }

   ul {
       display: flex; 
       justify-content: flex-end;
       /* list-style-type: none; */
       margin: 0;
       /* padding: 0; */
       /* overflow: hidden; */
       background-color: black;
   }
   
    
   
   li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }
   
li a :hover {
    color: rgb(201, 21, 21);
    background-color: red;
   }

   .fa-bicycle {
       color: red;
       font-size: 30px;
   }
   

   h1 {
       text-align: center;
       color: white;
       font-family: 'Indie Flower', cursive;
       font-size: 60px;
  
   }

    input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  } 

   #form {
       text-align: center;
   }

    #submit {
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    margin: 4px 2px;

} 

#header-img {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#about, #parts , #contact, #ride {
color: red;
text-align: center;
font-family: 'Indie Flower', cursive;
} 

 #text {
    color: white;
    font-family: Roboto;
    font-size: 1em;
}



#video {
    display: block;
    margin: 0 auto;
}
   .grid-item {
       color: rgb(227, 167, 167);
   }
   @media(max-height: 800px) {
      p {
       font-size: 15px;
     }
      }